{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "linebreak-style": [0],
    "space-before-blocks":[0],
    "intent":[0],
    "import/no-duplicates":[0],
    "no-duplicate-imports":[0],
    "func-names":[0],
    "prefer-arrow-callback":[0],
    "no-empty":[0],
    "quote-props":[0],
    "no-useless-return":[0],
    "react/jsx-no-duplicate-props":[0],
    "react/jsx-equals-spacing":[0],
    "react/jsx-first-prop-new-line":[0],
    "eqeqeq":[0],
    "max-len":[0],
    "react/sort-comp":[0],
    "react/jsx-closing-bracket-location":[0],
    "react/jsx-boolean-value":[0],
    "no-undef":[0],
    "react/react-in-jsx-scope":[0],
    "react/self-closing-comp":[0],
    "no-unused-expressions":[0],
    "no-multiple-empty-lines":[0],
    "no-var":[0],
    "vars-on-top":[0],
    "object-shorthand":[0],
    "no-array-constructor":[0],
    "comma-style":[0],
    "import/newline-after-import":[0],
    "jsx-quotes":[0],
    "react/jsx-space-before-closing":[0],
    "prefer-template":[0],
    "no-shadow":[0],
    "arrow-parens":[0],
    "react/jsx-indent-props":[0],
    "space-in-parens":[0],
    "camelcase":[0],
    "no-empty-pattern":[0],
    "no-param-reassign":[0],
    "dot-notation":[0],
    "import/first":[0],
    "no-unused-vars":[0],
    "no-useless-rename":[0],
    "semi-spacing":[0],
    "no-plusplus":[0],
    "operator-assignment":[0],
    "no-multi-spaces":[0],
    "key-spacing":[0],
    "arrow-spacing":[0],
    "one-var":[0],
    "one-var-declaration-per-line":[0],
    "keyword-spacing":[0],
    "comma-dangle":[0],
    "object-curly-spacing":[0],
    "eol-last":[0],
    "no-trailing-spaces":[0],
    "no-tabs":[0],
    "no-console":[0],
    "no-mixed-spaces-and-tabs":[0],
    "comma-spacing":[0],
    "semi":[0],
    "space-infix-ops":[0],
    "prefer-const":[0],
    "spaced-comment":[0],
    "padded-blocks":[0],
    "quotes":[0],
    "react/jsx-indent":[0],
    "arrow-body-style": [0],
    "consistent-return": [0],
    "generator-star-spacing": [0],
    "global-require": [1],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "import/prefer-default-export": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "no-bitwise": [0],
    "no-cond-assign": [0],
    "no-else-return": [0],
    "no-nested-ternary": [0],
    "no-restricted-syntax": [0],
    "no-use-before-define": [0],
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-no-bind": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "require-yield": [1]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
